<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--Repositories-->
    <component id="UserRepository"
               service="CslaDemo.Common.Interfaces.IRepository`1[[CslaDemo.Entities.UserEntity, CslaDemo.Entities]], CslaDemo.Common"
               type="CslaDemo.CastleActiveRecordImpl.Repositories.UserRepository, CslaDemo.CastleActiveRecordImpl.Repositories"/>
    <component id="BlogRepository"
               service="CslaDemo.Common.Interfaces.IRepository`1[[CslaDemo.Entities.BlogEntity, CslaDemo.Entities]], CslaDemo.Common"
               type="CslaDemo.CastleActiveRecordImpl.Repositories.BlogRepository, CslaDemo.CastleActiveRecordImpl.Repositories"/>
    
    <!--Business Services-->
    <component id="UserService"
               service="CslaDemo.Common.Interfaces.IBusinessService`1[[CslaDemo.Entities.UserEntity, CslaDemo.Entities]], CslaDemo.Common"
               type="CslaDemo.CastleActiveRecordImpl.Services.UserService, CslaDemo.CastleActiveRecordImpl"/>
    
    <!--Container Services-->
    <component id="ContainerService_UserPost"
               service="CslaDemo.Common.Interfaces.IContainerService`2[[CslaDemo.Entities.UserEntity, CslaDemo.Entities], [CslaDemo.Entities.PostEntity, CslaDemo.Entities]], CslaDemo.Common"
               type="CslaDemo.ContainerServices.ContainerService, CslaDemo.ContainerServices"/>
    <component id="ContainerService_UserBlog"
               service="CslaDemo.Common.Interfaces.IContainerService`2[[CslaDemo.Entities.UserEntity, CslaDemo.Entities], [CslaDemo.Entities.BlogEntity, CslaDemo.Entities]], CslaDemo.Common"
               type="CslaDemo.ContainerServices.ContainerService, CslaDemo.ContainerServices"/>
  </components>
</configuration>